body {
    background-image: url('../images/ftl_background.png');
}

h1{
    /* color: red; */
    font-size: 24;
}

p{
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    color: black;
}

#ship_one img{
    background-color: silver;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
    position: absolute; top: 75px; left: 400px;
}