body {
    background-color:  powderblue;
}

h1{
    color: red;
    font-size: 24;
}

p{
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    color: black;
}

#ship_one img{
    background-color: silver;
}