body {
    background-image: url('../images/desktop-wallpaper-julie-quinn-on-long-tall-vertical-pins-space-vertical.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color: white;
    font-size: 24;
}

h5{
    color: whitesmoke;
    font-size: 16;
}

p{
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    color: white;
    position: absolute; left: 200px;

}

#ship_one img{
    /* background-color: rgba(68, 115, 150, 0.272);
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: green; */
    position: absolute; top: 75px; left: 400px;
}